* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 600px;
  height: 400px;
  overflow: hidden;
  background: #f6f0e8;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
}
